/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap");

/* Root */
:root {
  --ff--common: "Inconsolata", monospace;
  --clr--grey--misery: #e3e3e3;
  --clr--lightgrey--misery: #e9e9e9;
  --clr--blue--misery: #223faa;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--ff--common);
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--clr--lightgrey--misery);
}

.btn-classic {
  padding: 5px 10px;
  border: solid 2px var(--clr--blue--misery);
  color: var(--clr--blue--misery);
  cursor: pointer;
  z-index: 2;
  background-color: none;
}

.btn-classic:hover {
  background-color: var(--clr--grey--misery);
}

/* Menu  */

.menu {
  position: fixed;
  height: 100vh;
  max-width: 1440px;
  left: 0;
  right: 0;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  z-index: 1;
}

.menu__selector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.menu__selector > a {
  color: var(--clr--blue--misery);
  padding: 3px 7px;
  background-color: var(--clr--lightgrey--misery);
  text-decoration: none;
  margin: 10px 0;
  font-size: 26px;
  font-weight: 300;
  position: relative;
}

.menu__selector > a:hover::before {
  content: "";
  background-image: url(./assets/img/selector.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  top: 55%;
  right: -40px;
  width: 26px;
  height: 26px;
  transform: translate(-50%, -50%);
  position: absolute;
}

.menu__selector > a:hover {
  transform: scale(1.03);
}

.menu__socials {
  display: flex;
  justify-content: flex-end;
}

.menu__socials > div {
  color: var(--clr--blue--misery);
  font-size: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.menu__socials > div > i {
  margin: 10px 0;
}

.menu__socials > div > i:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* Home */

.home {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--clr--blue--misery);
  z-index: 2;
}

.home > h1 > span {
  font-weight: 800;
}

.home__background {
  width: 100px;
}

.home__image {
  width: 500px;
  margin: 20px auto;
  cursor: pointer;
  z-index: 2;
}

.home__video {
  width: 500px;
  margin: 20px auto;
  cursor: pointer;
  z-index: 2;
}

/* Listen */

.discography {
  margin: 0 auto;
  padding-top: 160px;
  width: 300px;
  max-width: 1200px;
  padding-bottom: 200px;
  position: relative;
}

.discography::after {
  content: "";
  position: absolute;
  width: 2px;
  min-height: 49vh;
  background-color: var(--clr--blue--misery);
  top: 400px;
  bottom: 0;
  left: 140%;
  margin-left: -3px;
}

.discography__misery {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--clr--blue--misery);
  margin-bottom: 200px;
}

.discography__misery > div {
  position: relative;
}
.discography__misery > button {
  margin-top: 20px;
}

.discography__hover {
  opacity: 0;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--clr--blue--misery);
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.discography__hover:hover {
  transition: 0.5s;
  opacity: 1;
}

.discography__hover > h1 {
  color: white;
  font-size: 34px;
}

.discography__misery > div > img {
  width: 400px;
  position: relative;
}

.discography__misery > h1 {
  font-weight: 800;
}

.discography__misery::after {
  content: "Jan 2021";
  position: absolute;
  color: var(--clr--blue--misery);
  padding: 10px 0;
  width: fit-content;
  left: 130%;
  background-color: var(--clr--lightgrey--misery);
  top: 45%;
  z-index: 1;
}

/* Contact */

.contact {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.contact > a {
  cursor: pointer;
  z-index: 2;
  color: var(--clr--blue--misery);
  text-decoration: none;
}

.contact > a:hover {
  color: grey;
}

/* Album Modal */

.album__modal {
  position: fixed;
  background-color: rgba(250, 250, 250);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.album__x {
  position: fixed;
  top: 3vh;
  right: 5vh;
  font-size: 64px;
  font-weight: 200;
}

.album__container {
  width: 85vw;
  height: 80vh;
  display: flex;
}

.album__container > div {
  height: 100%;
}

.album__container > div:nth-child(1) {
  width: 75%;
}

.album__container > div:nth-child(1) img {
  width: 50%;
  height: 100%;
  object-fit: contain;
}

.album__container > div:nth-child(1) > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70%;
}

.album__container > div:nth-child(1) > div:nth-child(2) {
  width: 100%;
  height: 30%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  color: grey;
  font-style: italic;
}

.album__container > div:nth-child(1) > div:nth-child(2) span {
  color: black;
}

.album__container > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 70%;
  width: 25%;
  padding-right: 2%;
}

.album__container > div:nth-child(2) > div:nth-child(1) {
  height: 30%;
}

.album__container > div:nth-child(2) > div:nth-child(1) > div {
  display: flex;
  justify-content: flex-end;
  font-size: 26px;
}

.album__container > div:nth-child(2) > div:nth-child(1) > div > i {
  color: grey;
  margin-left: 10px;
}
.album__container > div:nth-child(2) h1 {
  text-align: end;
  font-size: 32px;
  margin-bottom: 10px;
}

.album__container > div:nth-child(2) h2 {
  color: grey;
  text-align: end;
  margin-bottom: 20px;
}
